language: node_js
node_js: node
cache:
  directories:
  - node_modules
env:
- CI=true
deploy:
  provider: heroku
  api_key:
    secure: Hwnl8ylWxhTGTJ4aF4l2CuQoAVBmhle0CYeE43xfnWKWiPK6Ushm9p04BCLyWbi/nmOTRqvn4AVE5lLJggJKutFqBPNszJ7dckO+y133zIoIfNkUSt77ZdinJ5SR85MzU0Y3dp9hAXCfB1p6xtIz7oOfZTmfSBjzj7iZYHDE87uQWRTC9CFNpBTx2yYkrboSa3dWoC+/zSWDGH4oY4b1niUiCXwS9qdH/pVTWxmUaq29zN3MKsMBy9psEqjRtXeq6niQMQWv83oUAmta8QvXWH1IThEUPdr40qEjyj4K22lUt0Qkknw/yWWNZ0Zdkl6ssROzwBkTowVPiyXIq+i3AbZUOuxpo49mzeN7CBW8oFE7eaYXp80fijWVZQRGfrJO+c7CDKhOuctDuOfIQibA15wtKQpWsomUj3C4y6jKKSzmKrKhOqY2FVUt6S4WTDk1XdlNwNA4fgit9z1CFV5nuO07u6WInAirJD6SSdkGpDpJ7N+pOV8oYLiKeFbu7phAjaDtIbnkb5YFZVP+qYlatB+0K3IMEU7qFJdkBcanU7on45knDZ69gLObbFIXvJ6NRRiABySvIvHJ+uhZBXsH3tmj3uhYUI0yCycq3DReYhrE4Dp8JPv9xq20Dw3+RIP4gQrmQgE0PH3zb3aXZnRuTgDAv7z/2ORtL+saTH7ygkU=
  app: obscure-earth-29998
  on:
    repo: Dinaverg/react-hot-cold-testing
